.container {
  text-align: center;
  margin-top: 80px;
  font-family: Arial;
}

.input-section {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  width: 220px;
}

button {
  margin-left: 5px;
  padding: 8px 12px;
  cursor: pointer;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  width: 350px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}